* {
    margin: 0;
    padding: 0;
}
.container {
    width: 1920px;
    width: 100%;
}

header {
    position: relative;
    top: 0;
    height: auto;
    width: 100%;
}

nav {
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    z-index: 1;
    background-color: #03045e;
}

nav:after {
    clear: both;
    content: "";
    display: block;
}

.nav-container {
    max-width: 100%;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

#logo {
    width: 50px;
    height: 50px;
    margin-top: 25px;
    position: fixed;
    left: 0px;
    padding-left: 5px;
}

.nav-container ul {
    float: right;
    height: 100px;
    line-height: 100px;
    margin: 0;
}

.nav-container li {
    list-style: none;
    float: left;
    margin: 0 15px; 
}

.nav-container li a {
    text-decoration: none;
    color: rgb(100, 116, 150);
    transition: .5s;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-container li a:hover {
    color: #01a2f3;
}

#main-banner {
    background: url(assets/bannerr.jpg) no-repeat;
    background-size: cover;
    position: relative;
    background-position: 0 55%;
    padding: 130px;

}


#search-form {
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15em;
    padding-bottom: 15em;
    text-align: center;
}

#search-form h1 {
    font-size: 40px;
    color: antiquewhite;

}

#search-form p {
    margin-bottom: 60px;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 300;
    color: antiquewhite;
    
}

#search-form input, #search-form select {
    background-color: #FFF;
    border-radius: 5px;
    border-color: transparent;
    padding: 10px 20px;
    font-size: 18px;
    margin: 0 10px;
}

#search-form input[type=submit] {
    background-color: #01a2f3;
    text-transform: uppercase;
    color: #FFF;
    cursor: pointer;
    transition: 0.5s;
}

#search-form input[type=submit]:hover {
    background-color: #023047;
}

